.title {
  text-align: center;
  font-size: 24px;
  color: #666;
  padding-top: 20px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info {
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 30px;
  height: 30px;
}
.info .info-steps {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 0;
  top: 0;
}
.info .info-minsteps {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  right: 0;
  top: 0;
}
#canvas {
  display: block;
  background-color: #696969;
}
.footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #666;
}
.footer .star-link {
  margin-bottom: 10px;
}
.footer .star-link a {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}
.footer .star-link a i {
  font-size: 24px;
  color: #666;
}
.footer .star-link a:last-child {
  margin-right: 0;
}
.footer .copyright {
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .footer {
    bottom: 6px !important;
  }
}
